<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="Sitecore.Feature.PublishHistory.FieldPrefix" value="Auto publish for User: "/>
			<setting name="Sitecore.Feature.PublishHistory.LogPrefix" value="PublishHistory -> "/>
		</settings>
		<pipelines>
			<publishItem>
				<processor patch:after="*[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']" type="PublishHistory.Pipelines.SetPublishDates, PublishHistory"/>
			</publishItem>
		</pipelines>
	</sitecore>
</configuration>